body{
	background-color: #333333;
	color: white; /*글자색*/
}

/*여기서 body는 선택자(Selector),
괄호 안 부분을 속성(property)라 부른다.*/

p{
	color: red;
}

h1{
	font-size: 40px  /*글자 사이즈*/
	font-weight: bold; /*글자 굵기 - 굵게하려면 bold 사용해도 된다.*/
	color: violet;
}

div p{ /*div 태그 안에 p를 선택한 것.*/
	color: blue;
}